{% extends 'base.html' %}

{% block content %}

<div class="hero">
<h1>⬆ Upload Mods</h1>
<p>
Upload your Minecraft mods and files.
</p>
</div>

<div class="card">

<form method="POST" enctype="multipart/form-data">

<input name="title" placeholder="Mod Title" required>

<input name="version" placeholder="Minecraft Version" required>

<textarea name="desc" placeholder="Description"></textarea>

<input type="file" name="file" required>

<button class="btn">
🚀 Upload Mod
</button>

</form>

</div>

{% endblock %}